# Credit card fraud detection using LositicRegression

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [5]:
df = pd.read_csv('creditcard.csv')
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [6]:
df.tail(2)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.0,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.0,0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [8]:
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [10]:
# distribution of transaction
df['Class'].value_counts()          # this is unbalnce data set
                                    # 0 represent normal transaction
                                    # 1 represent fradulent transaction

0    284315
1       492
Name: Class, dtype: int64

In [16]:
## Get the Fraud and the normal dataset 

fraud = df[df['Class']==1]          # 0 represent normal transaction
normal = df[df['Class']==0]         # 1 represent fradulent transaction

In [17]:
print(fraud.shape,normal.shape)

(492, 31) (284315, 31)

In [18]:
normal.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [19]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [21]:
# Compare the value for both Transaction
df.groupby('Class').mean()    # mean value of both transaction

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

## under Sampling

In [25]:
# Build a sample containing similar distribution of normal transactiom and fraudulent transaction
# number of fraud transaction 492
normal_sample = normal.sample(n=492)

In [28]:
# concate two data frame
new_dataset = pd.concat([normal_sample, fraud], axis=0)  # axis 0 means add a rows, axis 1 means add a column

In [31]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
280992,169869.0,-2.417846,2.475511,-0.847625,-1.399014,0.238842,-0.717516,0.922488,-0.071529,2.098358,...,-0.631457,-0.777010,0.148508,-0.469648,0.034456,0.171772,1.202728,0.624284,3.49,0
282421,170886.0,-0.907880,0.988323,0.701795,-1.194074,0.509550,0.831560,0.057214,0.544872,0.215282,...,0.207373,0.916597,-0.417058,-0.270132,0.079046,0.641698,0.164970,-0.043483,5.99,0
177782,123341.0,2.229464,-0.595166,-2.541382,-0.997924,0.243607,-1.456647,0.386020,-0.526935,-1.197219,...,0.515635,1.461707,-0.294494,-0.248700,0.746466,0.300036,-0.108413,-0.103584,36.00,0
116805,74434.0,-0.271974,1.205183,0.249131,0.695349,0.402593,-0.514805,0.881537,-0.087329,0.001761,...,0.094369,0.705835,0.056167,0.182337,-0.828456,-0.429153,0.487688,0.114164,0.79,0
184125,126102.0,-1.860521,-1.228750,2.928424,0.654088,0.583612,0.383772,-1.220492,0.791013,1.002726,...,0.315680,0.583293,-0.156020,-0.545875,0.645330,-0.384772,0.059904,0.094918,59.00,0

In [33]:
new_dataset.shape

(984, 31)

In [34]:
new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [35]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,91588.955285,0.013997,0.086223,0.008426,-0.031081,-0.047301,-0.032236,0.063733,0.043380,-0.020555,...,0.020473,0.022443,-0.003853,-0.005543,0.001796,0.031972,-0.027274,0.004256,0.019268,86.931016
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

##  Split the Data

In [38]:
X = new_dataset.drop(['Class'], axis =1)
y = new_dataset['Class']

In [41]:
print(X.shape,y.shape)

(984, 30) (984,)

## Split Train Test data

In [43]:
X_train, X_test, y_train,y_test = train_test_split(X,y, test_size = 0.2, random_state = 2)

## Model Training

In [51]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression()

 ## Evaluation

In [56]:
from sklearn.metrics import accuracy_score

# Accuracy score on train
X_train_Prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_Prediction, y_train)
training_data_accuracy

0.9440914866581956

In [57]:
# Accuracy score on test data
X_test_Prediction = model.predict(X_test)
testing_data_accuracy = accuracy_score(X_test_Prediction, y_test)
testing_data_accuracy

0.9390862944162437